.main-header {
  position: absolute;
  top: 0;

  width: 100%;
  max-width: 393px;
  height: 107px;

  background-color: #6e232f;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.school-logo {
  width: 181px;
  height: 51px;
  height: auto;
}
