.screen {
  width: 393px;
  height: 702px;
  background-color: white;
  position: relative;
  margin: 40px auto;
}

.content {
  position: absolute;

  top: 107px;
  left: 0;
  right: 0;
  bottom: 73px;

  width: 100%;

  padding: 25px 23px 16px;

  background-color: #ffffff;

  overflow-y: auto;
}

.profile h1 {
  margin: 0 0 11px;
  font-size: 32px;
  font-weight: 700;
}

.profileSection {
  width: 100%;

  padding-bottom: 18px;
  margin-bottom: 18px;

  border-bottom: 1px solid #eeeeee;
}

.profileSection h1 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.profile small {
  font-size: 15px;
  color: #000;
  font-weight: 400;
}

.profile {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.25;

  color: #111111;
}

.profileSection h1 span {
  color: #6e232f;
}

.profileSection p {
  margin: 0;

  font-size: 20px;
  font-weight: 500;
  line-height: 24px;

  color: #111111;
}

.profileSection small {
  display: block;

  margin-top: 13px;

  font-size: 15px;
  font-weight: 400;
  line-height: 24px;

  color: #111111;
}

.partnershipSection {
  width: 100%;
}

.partnershipSection h2 {
  margin: 0 0 10px;

  font-size: 20px;
  font-weight: 700;
  line-height: 16px;

  color: #111111;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 10.62px;
}
