.qrPage {
  width: 100%;
  min-height: 100vh;
  background-color: #b3b3b3;

  display: flex;
  justify-content: center;
}

.qrFrame {
  position: relative;

  width: 100%;
  max-width: 393px;
  min-height: 100vh;

  overflow: hidden;
}

.cameraVideo {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  z-index: 1;
}

.cameraDim {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.25);

  z-index: 2;
}

.qrMain {
  position: relative;
  z-index: 5;

  width: 100%;
  min-height: calc(100vh - 100px - 76px);

  padding: 100px 32px 96px;

  display: flex;
  justify-content: center;
  align-items: center;
}
