.back-button {
  border: none;
  background-color: transparent;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.back-button img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}